{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>

    <div>{{ question.user.username }}</div>

    {# ça marche parequ'on a implémenté le toString() #}
    <div>{{ question.subjects|join(' | ') }}</div>

    <div>{{ question.supports }} appuis</div>

    {% if app.user != null %}
        <div>
            <a href="#" class="btn btn-success float-right">Appuyer cette proposition</a>
        </div>
    {% endif %}

    <div>{{ question.creationDate|date('d-m-Y H:i:s') }}</div>

    <h2>La question en détail</h2>
    <div>{{ question.description }}</div>

    <h2>Le débat</h2>

    {% if app.user != null %}
        {{ form_start(messageForm, {'attr': {'novalidate': 'novalidate'}})}}

        {{ form_widget(messageForm) }}

        <button class="btn btn-success">Envoyer !</button>
        {{ form_end(messageForm) }}
    {% endif %}

    {% for message in messages %}
        <div class="message bg-primary border">
            <p>envoyé par {{ message.user.username }} le {{ message.creationDate|date("d-m-Y à H:i:s") }} </p>
            <p>{{ message.content }}</p>
        </div>
    {% endfor %}

{% endblock %}

{% block title %}{{ question.title }}{% endblock %}