{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>

    <div>{{ question.supports }} appuis</div>

    <div>
        <a href="#" class="btn btn-success float-right">Appuyer cette proposition</a>
    </div>

    <div>{{ question.creationDate|date('d-m-Y H:i:s') }}</div>

    <h2>La question en détail</h2>
    <div>{{ question.description }}</div>

    <h2>Le débat</h2>

    {{ form_start(messageForm, {'attr': {'novalidate': 'novalidate'}})}}

    {{ form_widget(messageForm) }}

    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(messageForm) }}

    {% for message in messages %}
        <div class="message bg-primary border">
            <p>envoyé par machin le {{ message.creationDate|date("d-m-Y à H:i:s") }} </p>
            <p>{{ message.content }}</p>
        </div>
    {% endfor %}

{% endblock %}

{% block title %}{{ question.title }}{% endblock %}