<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demoliq{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/open-sans.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
        <div class="container">
            <header class="container">
                <div class="row">
                    <div class="col-2">
                        <a href="{{ path('home') }}">
                            <img alt="logo du site" src="{{ asset('img/demoliqu.jpg') }}" id="logo">
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('home') }}" id="title">DemoLiqu</a>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('home') }}">Accueil</a>
                    </div>
                </div>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>

            <footer>
                <nav class="nav">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    <a class="nav-link" href="{{ path('faq') }}">FAQ</a>
                    <a class="nav-link" href="{{ path('cgu') }}">CGU</a>
                    <a class="nav-link" href="{{ path('rules') }}">Fonctionnement</a>
                </nav>
            </footer>
        </div>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
