<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demoliq{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/open-sans.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="nav-link">
                    <a href="{{ path('home') }}">
                        <img alt="logo du site" src="{{ asset('img/demoliqu.jpg') }}" id="logo">
                    </a>
                </div>
                <div class="nav-link">
                    <a href="{{ path('home') }}" id="title">DemoLiqu</a>
                </div>
                <div class="nav-link nav-header">
                    <a href="{{ path('home') }}">Accueil</a>
                </div>
                <div class="nav-link nav-header">
                    <a href="{{ path('question_list') }}">Liste</a>
                </div>

                {% if app.user == null %}
                    <div class="nav-link nav-header">
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </div>
                    <div class="nav-link nav-header">
                        <a href="{{ path('app_register') }}">Inscription</a>
                    </div>
                {% else %}
                    <div class="nav-link nav-header">
                        <a href="{{ path('question_create') }}">Proposer</a>
                    </div>
                    <div class="nav-link nav-header">
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

            </nav>
        </header>

        <div class="container">

            <main>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                {% block content %}{% endblock %}
            </main>

        </div>

        <footer>
            <nav class="nav">
                <a class="nav-link mx-auto" href="{{ path('home') }}">Accueil</a>
                <a class="nav-link mx-auto" href="{{ path('faq') }}">FAQ</a>
                <a class="nav-link mx-auto" href="{{ path('cgu') }}">CGU</a>
                <a class="nav-link mx-auto" href="{{ path('rules') }}">Fonctionnement</a>
            </nav>
        </footer>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
